.profile-banner {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--global-border-radius);
    overflow: hidden; /* Clip content to the border radius */
    color: var(--text-50);
    min-height: 500px; /* Set a consistent minimum height */
}

.nameheader {
    background-color: var(--accent-700);
    border-radius: var(--global-border-radius);
}

.profile-bio {
    border-radius: var(--global-border-radius);
    padding: 10px;
    background-color: #0e1825;

    /* Truncate after multiple lines */
    display: -webkit-box;
    -webkit-line-clamp: 5; /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
