.profile-banner {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px 10px;
    border-radius: var(--global-border-radius);
    overflow: hidden; /* Clip content to the border radius */
    color: var(--text-50);
    background-color: var(--background-800);
    min-height: 500px; /* Set a consistent minimum height */
}

.nameheader {
    background-color: var(--accent-700);
    padding: 20px 0 20px 60px;
    border-radius: var(--global-border-radius);
}
.avatar-image-header {
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #2f3032;
}

.profile-bio {
    background-color: #0e1825;
}