.profile-banner {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--global-border-radius);
    overflow: hidden; /* Clip content to the border radius */
    color: var(--text-50);
    background-color: var(--background-800);
    min-height: 500px; /* Set a consistent minimum height */
}

.nameheader {
    background-color: var(--accent-200);
    padding: 20px 0 20px 60px;
    border-radius: var(--global-border-radius);
}