.contact-content {
    background-color: var(--background-900);
    max-height: 60%;
    position: relative;
    border-radius: var(--global-border-radius);
    z-index: 1;
}

.main-content {
    border-radius: var(--global-border-radius);
    position: relative;
    z-index: 0;
}

/* Apply the negative margin only on medium and larger screens (md and above) */
@media (min-width: 768px) {
    .main-content {
        padding: 2% 0 2% 0;
        margin-left: -35px;
        transform: scaleX(1.04); /* Scale the element by 5% (which is roughly 35px) */
        transform-origin: left; /* Ensure scaling happens from the left side */
    }
    .contact-content {
        min-width: 80px;
        max-width: 100px;
    }
}

/* On smaller screens (less than 768px), the columns will stack and the margin is reset */
@media (max-width: 767px) {
    .main-content {
        padding: 0 0 0 0;
        margin-left: 0;
        padding-top: 10px;
    }

}
