.bodytest-image-container {
    padding: 0;
}

.bodytest-image-container svg {
    padding: 0;
    max-height: 500px;
    width: 100%; /* Make the SVG take full width of the container */
    max-width: 100%; /* Prevent it from exceeding the container’s width */
}