.avatar-container {
    position: relative;
    display: inline-block;
    aspect-ratio: 1 / 1;
}

.avatar-image-header {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    transition: all 0.3s ease;
    object-fit: cover;
}

.avatar-image-header-bordered {
    border: 3px solid #2f3032;

}
.avatar-pointer {
    cursor: pointer;
}

/* Position the edit icon outside the border radius */
.edit-icon-bdge {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background-color: #0e1825;
    border-radius: 50%;
    width: 15%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

/* Make sure the icon doesn't get clipped */
.edit-icon {
    transition: all 0.3s ease;
    font-size: 1.5rem;
    padding-bottom:2px;
    padding-left:1px;
    color: white;
}
.avatar-image-header-label:hover .edit-icon {
    font-size: 3rem;
}
.avatar-image-header-label:hover .edit-icon-bdge {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
