.logo {
  max-height: 60px; /* Adjust size as needed */
  margin-right: 20px; /* Optional spacing */
}

/* Additional styles for nav and header */
nav {
  display: flex;
  align-items: center;
  gap: 20px; /* Space between navigation items */
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Space between logo and nav */
  padding: 5px 20px;
  border-radius: 0 0 10px 10px;
  color: var(--text-200) !important;
  background-color: var(--background-800) !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional shadow */
}
