/* Style for header */
header {
  background-color: var(--background-800);
  color: var(--text-200);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style for main content area */
main {
  padding: 20px;
  flex-grow: 1;
}

/* Style for footer */
footer {
  background-color: var(--background-800);
  color: var(--text-200);
  text-align: center;
  padding: 10px 20px;
}
