.contact-section {
    height: 100%; /* Ensure the section takes full height of its parent */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Space out elements, icons at the bottom */
    padding: 20px;
}

.social-media {
    margin-top: auto; /* Ensure social media section sticks to the bottom */
}

.social-icons {
    gap: 20px;
    flex-wrap: wrap; /* Allows the icons to wrap and stack when space is limited */
    justify-content: center;
}

.social-icon {
    font-size: 24px;
    color: var(--text-50); /* Your theme color */
    transition: color 0.3s ease-in-out;
}

.social-icon:hover {
    color: var(--primary-500); /* Hover effect */
}

