
.nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;

}
.nav-links .nav-link {
    font-size: 18px;
    transition: color 0.3s ease;
    text-align: center;
    color: var(--text-200);
}
.nav-links .nav-icon {

    font-size: 24px;
    margin-bottom: 4px; /* Space between icon and text */
}
.nav-links .nav-link:hover {
    color: var(--accent-400);
    background-color: rgba(0, 0, 0, 0.1); /* Slight background on hover */
    text-decoration: none;
}


.nav-icon {
    font-size: 24px;

}


/* Responsive behavior */
@media (max-width: 991px) {
    /* Horizontal separators on mobile */
    .nav-links .separator {
        width: 100%;
        height: 1px;
        background-color: var(--text-50);
    }
}

@media (min-width: 992px) {
    /* Vertical separators on desktop */
    .nav-links .separator {
        width: 1px;
        height: 40px;
        background-color: var(--text-50);
    }
}