
footer {
    text-align: center;
    padding: 1rem;
    position: fixed;
    display: flex;
    align-items: center;
    bottom: 0;

    color: var(--text-200) !important;
    background-color: var(--background-800) !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional shadow */
}

footer nav a {
    color: #fff;
    margin: 0 0.5rem;
}
