.calendar-row {
    display: flex;
    justify-content: space-around;
}

.calendar-col {
    position: relative;
    padding: 0;
    display: flex;
    justify-content: center; /* Centers the content inside the column */
}

.day-tile {
    aspect-ratio: 1 / 1; /* Ensures the element maintains a 1:1 aspect ratio */
    width: 80%; /* Set the width relative to the parent container */
    padding: 5%; /* Add some padding, which won't affect the aspect ratio */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: background-color 0.7s ease;
    border-radius: 10%; /* Rounded corners */

    /* Optional: Set a max width and height to prevent it from getting too large */
    max-width: 120px;
    max-height: 120px;
}

.active-day {
    outline-offset: 2px;
    outline: 1px solid white; /* Outer border effect */
}
.day-content {
    text-align: center;
    line-height: 20px;
}
.arrow-day-pointer {
    position: absolute;
    top: -23px;
    color: var(--text-50); /* Bootstrap primary color */
    left: 50%;
    transform: translateX(-50%); /* Centers the arrow horizontally */
}

.disabled-day {
    pointer-events: none; /* Disable interactions */
    background-color: rgba(200, 200, 200, 0.5); /* Make the day look visually disabled */
    cursor: not-allowed; /* Show a disabled cursor */
    opacity: 0.5; /* Reduce opacity for the disabled effect */
}

.clear-button {
    position: absolute;
    top: -5px;
    right: -5px;

    width: 16px; /* Set the width to make it small */
    height: 16px; /* Set the height to the same value as the width for a 1:1 aspect ratio */
    padding: 0; /* Ensure no extra padding */

    border: none; /* Optional: add a border to the button */
    border-radius: 20%; /* This makes the button perfectly round */

    display: flex; /* Flexbox to center content */
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */

    background-color: var(--accent-700); /* Bootstrap primary color */; /* Optional background color */
    transition: all 0.3s ease;

    cursor: pointer; /* Change the cursor to pointer when hovered */
}

.clear-button:hover {
    background-color: var(--accent-600);
}

.day-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.day-number,
.day-name {
    color: white;
    mix-blend-mode: exclusion;
    padding: 0;
}

.day-number {
    font-size: 22px; /* Larger size for the number */
}

.day-name {
    font-size: 12px; /* Smaller size for the day name */
}